<ion-header>
  <ion-navbar>
    <ion-title style="font-family: 'Black Han Sans'">Outlook</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="state == 0">
    <h1>1 - Enter basic loan information</h1>
    <p>
      Often the hardest part of calculating your debt future is knowing where the information
      regarding your loan is kept. If you don't know your basic loan information
      <a (click)="moreLoanInfo()">see here</a><br><br>
      If you already know your loan information, enter below and hit next.
    </p>
    <ion-label color="primary" stacked>Loan Amount</ion-label>
    <ion-input 
      type="number" 
      placeholder="$ value"
      [(ngModel)]="loan.principle"
    ></ion-input>
    <ion-label color="primary" stacked>Interest Rate</ion-label>
    <ion-input 
      type="number" 
      placeholder="% value"
      [(ngModel)]="loan.interestRate"
    ></ion-input>
  </div>
  
  <div *ngIf="state == 1">
    <sliders 
      (paymentCollege)="_paymentCollege($event)"
      (paymentPostCollege)="_paymentPostCollege($event)"
      (yearsLeftInCollege)="yearsLeftInCollege($event)"
    ></sliders>
  </div>
  

  <div [hidden]="!activeChart">
      <div *ngIf="this.numPeriods < 1000">
        <h2 class="space-above">3 - Outlook | Plan Comparison</h2>
        <div class="indent large-text">Years until paid: {{ totalNumPeriods }}</div>
        <div class="indent large-text">Total amount paid: ${{ total }}</div>
        <div class="indent large-text">Total interest: ${{ totalInterestPaid }}</div>
      </div>
      <div *ngIf="this.numPeriods > 1000">
          <b>At this rate your loan will never be paid off</b>
      </div>
      <canvas #pieCanvas></canvas>
      <h3>Payment Tradjectory</h3>
      <canvas #debtCanvas></canvas>

      <button ion-button>Compare Alternative</button>
      <button ion-button>How realistic is this outlook?</button>
  </div>

  <!-- <button ion-button (click)="showChart()">
    <span *ngIf="!activeChart">See Outlook</span>
    <span *ngIf="activeChart">Test Changes</span>
  </button> -->

  <button ion-button *ngIf="activeChart" color="danger" (click)="closeChart()">Close</button>

  <button ion-button color="secondary" (click)="nextStep()">Next</button>

  <h1>Progress</h1>
  <progress-bar [progress]="loadProgress"></progress-bar>
  
</ion-content>
