<ion-header>
  <ion-navbar>
    <ion-title style="font-family: 'Black Han Sans'">toZero</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="state == 0">
    <h2>Step 1: Loan Info</h2>
    <p>
      The hardest part of determining your loan commitment is figuring out how much you need to borrow 
      or how much you have borrowed. If you don't know where to find your student loan debt information
      or don't know how to calculate how much you will need <a (click)="moreLoanInfo()">see here</a>
    </p>
    <ion-label stacked>
      Loan Amount
    </ion-label>
    <ion-input 
      type="number" 
      placeholder="$ value"
      [(ngModel)]="loan.principle"
    ></ion-input>
    <ion-label stacked>Interest Rate</ion-label>
    <ion-input 
      type="number" 
      placeholder="% value"
      [(ngModel)]="loan.interestRate"
    ></ion-input>
  </div>
  
  <div *ngIf="state == 1">
    <sliders 
      (paymentCollege)="_paymentCollege($event)"
      (paymentPostCollege)="_paymentPostCollege($event)"
      (yearsLeftInCollege)="yearsLeftInCollege($event)"
    ></sliders>
  </div>
  

  <div [hidden]="!activeChart">
      <div *ngIf="this.numPeriods < 1000">
        <h2 class="space-above">Step 3: Freak Out</h2>
        <h3>
          Your loan is a <b>{{ totalNumPeriods }}</b> year commitment
          It will cost you <b>${{ total }}</b> of which <b>${{ totalInterestPaid }}</b> 
          is accumulated interest
        </h3>
      </div>
      <div *ngIf="this.numPeriods > 1000">
          <b>At this rate your loan will never be paid off</b>
      </div>
      <canvas #pieCanvas></canvas>
      <h3>Payment Tradjectory</h3>
      <canvas #debtCanvas></canvas>

      <button ion-button>How realistic is this outlook?</button>
  </div>

  <!-- <button ion-button 
    *ngIf="activeChart" 
    color="danger" 
    (click)="closeChart()"
  >
    Close
  </button> -->

  <button ion-button 
    (click)="nextStep()"
    *ngIf="state < 2"
  >
    Next
  </button>
  <button ion-button
    *ngIf="state >= 2"
    (click)="home()"
  >
    Home
  </button>

  <!-- <h1>Progress</h1>
  <progress-bar [progress]="loadProgress"></progress-bar> -->
  
</ion-content>
