<h1>2 - Quick Plan</h1>
<p>
  If you are using this app, it means you have student loans which means you have to pay them off.
  And, we're guessing that you're guessing that you'll make more money (to be put towards your debt)
  after college than when you're in college. To account for this, use the sliders below to put forward
  your best guess on how much you can put towards your debt before and after college. If you have no 
  clue of what you will be able to pay after college <a>see here</a>
</p>
<h2>College plan</h2>
<p></p>
<ion-item>
  <ion-label>Monthly Payment <ion-chip color="primary">${{ collegePayment }}</ion-chip></ion-label>
  <ion-range min="0" max="300" step="10" snaps="true" color="primary" pin="true" [(ngModel)]="collegePayment">
    <ion-label range-left>$0</ion-label>
    <ion-label range-right>$300</ion-label>
  </ion-range>
</ion-item>
<ion-item>
    <ion-label>Years left in college <ion-chip *ngIf="collegeYears" color="primary">{{ collegeYears }}</ion-chip></ion-label>
    <ion-range min="0" max="8" step="0.5" snaps="true" color="primary" [(ngModel)]="collegeYears">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4 years</ion-label>
    </ion-range>
</ion-item>
<h2>After college plan</h2>
<ion-item>
    <ion-label>Monthly Payment <ion-chip color="primary">${{ postColPayment }}</ion-chip></ion-label>
    <ion-range min="0" max="700" step="25" snaps="true" color="primary" pin="true" [(ngModel)]="postColPayment">
      <ion-label range-left>$0</ion-label>
      <ion-label range-right>$700</ion-label>
    </ion-range>
</ion-item>
<button ion-button (click)="emit()">Emit</button>