@font-face {
    font-family: 'Black Han Sans';
    src: url('../assets/fonts/Black_Han_Sans/BlackHanSans-Regular.ttf');
  }
  
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}