// http://ionicframework.com/docs/theming/
@import '../theme/fonts';

ion-title {
    font-family: 'Black Han Sans' 
}

h1, h2, h3, body {
    font-family: 'Open Sans'
}

.large_font {
    font-size: 2rem;
}